
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}


.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-background-border: 0;
    -fx-background-radius: 5px;
}

.tab{
    -fx-border-insets: 0 11px 0 1;
}
.tab-pane .tab
{
    -fx-background-color:  #d7c7ff;
    -fx-background-border: 0;
    -fx-background-radius: 5px;

}

.tab-pane .tab:selected
{
    -fx-background-color: #4B3869;
    -fx-background-radius: 5px;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-font-size: 12px;
    -fx-font-family: "Arial Bold";
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 5px;
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-color: #ffffff;
}